@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --main-color: #212121;
  --primary-color: #757575;
  --secondary-color: #ffffff;
  --main-bgd-color: #ffffff;
  --accent-color: #2196f3;
  --footer-bgd-color: #2f303a;
  --main-font: Roboto, sans-serif;
  --accent-font: Raleway, sans-serif;
  --accent-color-2: #000000;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: --main-color;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.logo-studio {
  color: var(--accent-color-2);
}

.top-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.link-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: #757575;
}

.nav-link {
  color: var(--main-color);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.b-color:hover,
.b-color:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.contact-link {
  color: var(--primary-color);
}

.nav-button {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-bgd-color);
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--primary-color);
}

.person {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--primary-color);
}

.logo-end {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.logo-end-studio {
  color: var(--accent-color-2);
}

.link-end {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--secondary-color);
}

.link-post {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.link-tel {
  font-style: normal;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.hero {
  background-color: var(--footer-bgd-color);
}

.b-color {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.footer {
  background-color: var(--footer-bgd-color);
}

.logo-footer {
  color: var(--secondary-color);
}

.link-end:hover,
.link-end:focus,
.link-post:hover,
.link-post:focus,
.link-tel:hover,
.link-tel:focus {
  color: var(--accent-color);
}

/* PORTFOLIO */
.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  background-color: #2293f0;
  /* shadow-middle */
  color: var(--secondary-color);
  border: none;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.infa {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: var(--primary-color);
}

.filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--main-color);
}

.top-nav .nav-link.current {
  color: var(--accent-color);
}

.look {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-color);
}

.about {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.about-p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  /* identical to box height */

  text-align: left;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.oc {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: left;
  letter-spacing: 0.03em;

  color: var(--main-color);
}
.oc {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: left;
  letter-spacing: 0.03em;

  color: var(--main-color);
}